<div class="homeButtons">
    <div class="homebtn" id="getContato">
        <div class="btnContainer">
            <img src="../public/img/register.png">
        </div>

        <div class="btnContainer btnBottom">
            CONTATO <!--#0C9D00-->
        </div>
    </div>

    <div class="homebtn" id="getGroup">
        <div class="btnContainer">
            <img src="../public/img/group.png">
        </div>

        <div class="btnContainer btnBottom">
            GRUPO
        </div>
    </div>

    <div class="homebtn" id="getMessage">
        <div class="btnContainer">
            <img src="../public/img/messageIcon.png">
        </div>

        <div class="btnContainer btnBottom">
            MENSAGEM
        </div>
    </div>

    <div class="homebtn" id="getSearch">
        <div class="btnContainer">
            <img src="../public/img/loupe.png">
        </div>

        <div class="btnContainer btnBottom">
            PROCURAR
        </div>
    </div>
    
</div>
<script src="../services/home.js"></script>