<div class="registerContainer">
    <label class="registerText">Nome:</label>
    <input type="text" class="registerInputs" id="clientName" placeholder="Digite o nome do cliente">
    <label class="registerText">Telefone:</label>
    <input type="text" class="registerInputs" id="clientPhone" placeholder="41999999999">
    <label class="registerText">Grupo:</label>
    <select id="registerGroupSelect" class="registerInputs" ></select>
    <div class="regiterBtnContainer">
        <button class="btnRegister" id="saveRegister">SALVAR</button>
        <button class="btnRegister" id="registerBackHome">VOLTAR</button>
    </div>
</div>

<script src="../services/registerClient.js"></script>