<div class="registerContainer">
    <label class="registerText">Cliente:</label>
    <input type="text" class="registerInputs" id="searchName" placeholder="Para buscar todos, deixe esse campo em branco">
    <div class="regiterBtnContainer">
        <button class="btnRegister" id="searchButton">BUSCAR</button>
        <button class="btnRegister" id="searchBackHome">VOLTAR</button>
    </div>

    <div class="resultsContainer">

    </div>
</div>
<script src="../services/search.js"></script>